html,body {
  height: 100%;
}
.container {
  background: #bbada0;
  border-radius: 10px;
  margin: auto;
  position: relative;
}
.container .cell {
  background-color: #ccc0b3;
  border-radius: 6px;
  position: absolute;
}
.container .numbercell {
  border-radius: 6px;
  position: absolute;
  text-align: center;
  font-size: 36px;
}